// color
$white: var(--theme-white);
$black: var(--theme-black);
$green: var(--theme-green);
$blue: var(--theme-blue);

// backgroup-color
$bg-6: var(--bg-alpha-6);
$bg-5: var(--bg-alpha-5);
$bg-2: var(--bg-alpha-2);
$bg-1: var(--bg-alpha-1);

// border-color
$border-color: var(--border-color);

// text light
$text: var(--text);
$dividers: var(--text-light-4);
$disabled: var(--text-light-3);
$secondary: var(--text-dark-1);
$descript: var(--text-light-1);

// font-size
$font-size-base: 14px;
$font-size-large: 1.6rem;
$font-size-small: .85rem;



